<h1>Essence Task!</h1>
<form [formGroup]="profileForm">
  <mat-form-field>
    <label>Enter your password</label>
    <input
      name="password"
      formControlName="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      (input)="checkPass()"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</form>
<div class="section" [ngStyle]="{ background: sectionClasses[0] }"></div>
<div class="section" [ngStyle]="{ background: sectionClasses[1] }"></div>
<div class="section" [ngStyle]="{ background: sectionClasses[2] }"></div>
